NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/provizion-led
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
CONTACT_EMAIL=info@provizionledsigns.com
CLIENT_URL=http://localhost:5173

# CallRail
CALLRAIL_API_KEY=your-callrail-api-v3-key
CALLRAIL_ACCOUNT_ID=ACC019cd918d7e678a0a1e6dbad4b12a48f
CALLRAIL_COMPANY_ID=COM019cd918d9cf7b5bbbca1ee6c48580a5
